.container {
  max-width: 700px;
}

.card {
  border-radius: 10px;
}

.btn {
  font-size: 0.9rem;
}

.list-group-item {
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef;
}

.list-group-item:last-child {
  border-bottom: none;
}

input.form-control {
  border-radius: 10px;
}

.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 10000;
}
